

<table class="table">
  <thead>
    <tr>

    <th>Airdrip ID</th>
    <th>Distance to Ground Zero (in meters)</th>
    <th>Longitude</th>
    <th>Latitude</th>


    </tr>
  </thead>
  <tbody>
    <% @songs_with_parent_album_info.each do |song| %>
      <tr>

      <td><%= song[:album_report_id] %></td>
      <td><%= number_with_precision(song[:distance_in_meters], precision: 2) %></td>

      <td><%= song[:longitude] %></td>
      <td><%= song[:latitude] %></td>


   

      </tr>
    <% end %>
  </tbody>
</table>



