<h1>Songs</h1>






  <div data-controller="filters">
  <%= render partial: 'filters', locals: { songs_with_parent_album_info: @songs_with_parent_album_info } %>
</div>



  <div id="songs_with_parent_album_info">
  <%= render partial: 'songs/songs_with_parent_album_info', collection: @songs_with_parent_album_info %>
  </div>

<script>
  $(document).on('submit', 'form', function(event) {
    event.preventDefault();
    
    var url = $(this).attr('action');
    var data = $(this).serialize();
    
    $.get(url, data, function(response) {
      $('#songs').html(response);
    });
  });
  
  $('.chosen').chosen();
</script>


