# <h1>Song records with report_id <%= params[:id] %>:</h1>


#   <% @songs.each do |song| %>

#     <p>id: <%= song.id %>, report_id: <%= song.report_id %></p>

#   <% end %>


<p>Name: <%= @song.tooltip %></p>